# AI API Keys
DEEPSEEK_API_KEY=
SERPER_API_KEY=

# MongoDB
DATABASE_URL="mongodb://localhost:27017/ai_research?replicaSet=rs0&directConnection=true"

# NextAuth (`openssl rand -base64 32`)
AUTH_SECRET=
